pillow == 11.2.1

Pymem == 1.14.0

pynput == 1.8.1

pypresence == 4.3.0

pystray==0.19.5

pywin32 == 310

requests == 2.32.4

# Only for freezing the app
# But we specifiy an older version, so that 
# the included bootloaders are already whitelisted
# by Microsoft Defender and don't cause false positives
pyinstaller==6.12.0
